<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid-19 Temperature Monitoring System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="static/css/style.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #7934c9;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">COVID-19 Monitoring Page</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="location">Add Location</a>
              </li>
            </ul>
            <form class="d-flex">
              <button class="btn btn-sm btn-outline-secondary" id="button" style="color: white; border-color: white;" type="button">
                <a href="logout" style="color: white;">Logout</a>
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <h1>UWI, Mona - IEEE Student Branch</h1>
    <!-- <a href="#Home">Home</a> -->

    <table class="content-table">
      <thead>
        <tr class="table-heading">
          <th>Location</th>
          <th>Temperature</th>
          <th>Status</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody class="table-body"></tbody>
    </table>

    <!-- ________________________ -->

      <div class="tooltip">Project Info
        <div class="tooltiptext"><u>University Of The West Indies </u><br> Faculty <br> Of <br> Engineering
        </div>
      </div>

    <!-- custom js file link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
const serverURL = document.domain;
const port = location.port;

function generateTableRow(data, loc){
    // Create the new row to be added to the table
    var tableRow = document.createElement("TR");
    tableRow.classList.add("table-row");

    //Populate the elements in the row
    var tdLocation = document.createElement("TD");
    tdLocation.innerHTML = loc;

    var tdTemperature = document.createElement("TD");
    tdTemperature.innerHTML = data.temperature;

    var tdStatus = document.createElement("TD");
    tdStatus.innerHTML = data.status;

    var tdDate = document.createElement("TD");
    tdDate.innerHTML = data.day +"/"+ data.month +"/"+ data.year;

    var tdTime = document.createElement("TD");
    tdTime.innerHTML = data.hour +":"+ data.minute +"."+ data.second;

    tableRow.append(tdLocation);
    tableRow.append(tdTemperature);
    tableRow.append(tdStatus);
    tableRow.append(tdDate);
    tableRow.append(tdTime);
    
    return tableRow;
}

var locationPath = "http://" + serverURL + ":"+ port + "/api/location/";
function getLocation(id){
    console.log(locationPath+id)
    let data = fetch(locationPath+id).then(res => res.json()).then(json => json);
    // console.log(id, data)
    return data;
}

async function getLocationData(id){
    let record = await getLocation(id);
    console.log(record[0].location)
    return record[0].location;
}

var dataPath = "http://" + serverURL + ":"+ port +"/api/data";
function getTableData(){
    console.log(dataPath);
    return fetch(dataPath).then(res => res.json()).then(json => json);
}

async function displayTableData(){
    let rowData = await getTableData();  
    console.log(rowData);

    rowData.forEach(row => {
        console.log("ID:", row.id);
        getLocationData(row.id).then(res => {
            var content = document.querySelector(".table-body");
            content.append(generateTableRow(row, res));   
        });      
    });
}

window.onload = function(){
    displayTableData();

    let btn = document.getElementById("button").onclick = function(){
      location.href("http://" + serverURL + ":" + port + "/location");
    };
    
}
    </script>
  </body>
</html>
