<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid-19 Temperature Monitoring System</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <link rel="stylesheet" href="static/css/style.css" />
  </head>

  <body>
    <!-- jqueury cdn link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <header>
     
      <a href class="logo"'><span class="fas fa-virus fa-2x" style= 'color: #a962fa' ></span></a>
      
    </header>
    <h1>UWI, Mona - IEEE Student Branch</h1>
    <div class="text-box">
      <span>C</span>
      <span>O</span>
      <span>V</span>
      <span>I</span>
      <span>D</span>
      <span>-</span>
      <span>1</span>
      <span>9</span>
    </div>
    <!-- <a href="#Home">Home</a> -->

    <table class="content-table">
      <thead>
        <tr class="table-heading">
          <th>Location</th>
          <th>Temperature</th>
          <th>Status</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody class="table-body"></tbody>
    </table>

    <!-- ________________________ -->

      <div class="tooltip">Project Info
        <div class="tooltiptext"><u>University Of The West Indies </u><br> Faculty <br> Of <br> Engineering
        </div>
      </div>

    <!-- custom js file link -->
    <script src="static/js/script.js"></script>
  </body>
</html>
