@import "lesshat";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif; /* Change your font family */
}

* h1 {
  margin-top: 20px;
  color: #7934c9;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

header{
  margin-bottom: 20px;
}
.content{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 600px;
    position: absolute;
    width: 100%;
    margin-left: 150px;
    padding: 25px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 600;
    margin-top: 90px;
    margin-left: 190px;
    margin-bottom: 20px;
    position: relative;
}
.container .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 228px;
    background: linear-gradient(135deg, #19b3d3, #2f323a);
}
.container form .user_details{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin: 15px 0 12px 150px;
}
.container form .user_details .input_box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user_details .input_box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user_details .input_box input{
    height: 45px;
    width: 150%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.container form .user_details input:focus,
.container form .user_details input:valid{
    border-color: #2f323a;
}
form .button{
    height: 45px;
    margin: 45px 0;
    margin-top: 15px;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(135deg, #19b3d3, #2f323a);
}
form .button input:hover{
    background: linear-gradient(-135deg, #19b3d3, #2f323a);
}


/* .content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */

/* span {
  display: inline-block;
  font-weight: bolder;
  animation: mover 6s linear infinite;
  color: #fff;
} */

/* @keyframes mover {
  0% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0);
  }
  50% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.945);
    transform: translateY(30px);
  }
  100% {
    text-shadow: 0 0 30px rgba(0, 0, 0, 0);
  }
} */
/* span:nth-child(1) {
  animation-delay: 0.5s;
} 
span:nth-child(2) {
  animation-delay: 1s;
}
span:nth-child(3) {
  animation-delay: 1.5s;
}
span:nth-child(4) {
  animation-delay: 2s;
} 
 span:nth-child(5) {
  animation-delay: 2.5s;
}
span:nth-child(6) {
  animation-delay: 3s;
}
span:nth-child(7) {
  animation-delay: 3.5s;
}
span:nth-child(8) {
  animation-delay: 4s;
} */
.tooltip {
  position: absolute;
  top: 550px;
  right: 180px;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 280px;
  height: 90px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 19%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(129, 115, 255) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

